@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
/*
- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)

Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%)

*/



.topnav {
    background-color: white;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    margin-top: 5%;
  }
  
  .topnav a {
    float: left;
    color: rgb(125, 121, 121);;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav-right {
    float: right;
  }
  
  .topnav a:hover {
    color: rgb(125, 121, 121);
  }

  p {
    font-size: 15px;
  }

  .main-container, .bottom-container {
    margin-left: 10%;
    margin-right: 10%;
  }

  .main-container img {
    width: 100%;    
  }

  .main-container {
    overflow: hidden;
  }

  .left {
    float: left;
    width: 68%;
  }

  .left h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 57px;
  }

  .left p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 49px;
    font-size: 17px;
    color: hsl(236, 13%, 42%);
    line-height: 26px;
    margin-bottom: 11%;

  }

  .read-more-btn {
    color: white;
    background-color: hsl(5, 85%, 63%);
    border: none;
    width: 171px;
    height: 47px;
    font-size: 14px;
    letter-spacing: 3px;

  }

  .right {
    float: right;
    background-color: hsl(240, 100%, 5%);
    width: 29%;
    height: 560px;
  }

  .right *{
    margin-left: 5%;
    margin-right: 5%;
  }

  .right h2 {
    color: hsl(35, 77%, 62%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 37px;
  }

  .right h4 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
  }

  .right p, hr{
    color: hsl(233, 8%, 79%);
  }

  .right p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: 43px;
  }

  .left-box {
    width: 50%;
    float: left;
    display: inline-block;
    
  }

  .right-box {
    width: 50%;
    display: inline-block;
  }


.bottom-container {
  overflow: hidden;
  margin-bottom: 3%;
}

.bottom-container * {
  float: left;
  height: 10%;
}


.bottom-box {
  width: 25%;
  display: flex;
  margin-right: 9%;
}



.bottom-box img {
  width: 62%;
  overflow: hidden;
}

.text-box {
  position: absolute;
}

.text-box  {
  position: relative;
}

.text-box * {
 margin-top: 0;
 margin-bottom: 0%;
 margin-left: 12%;
 line-height: 26px;
}

.text-box h3 {
  color: hsl(35, 77%, 62%);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 153%;

}

.text-box h4{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}


.text-box p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 72%;
  color: hsl(236, 13%, 42%);
}


#img-2 {
  width: 90%;
}

#img-3 {
  width: -webkit-fill-available;
}

#bottom-box-3 {
  margin-right: 0%;
}










.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }