<<<<<<< HEAD
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500&family=Overpass:wght@400;700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    background-color: var(--very-dark-blue);
}

=======
>>>>>>> 690ff6e607e4b3446c1abacd5b11a958caddf92b
.main-rating-container {
    height: 300px;
    width: 380px;
    margin: auto;
    margin-top: 10%;
<<<<<<< HEAD
    background-color: var(--dark-blue);
=======
    background-color: antiquewhite;
>>>>>>> 690ff6e607e4b3446c1abacd5b11a958caddf92b
    border-radius: 20px;
}

.main-rating-container * {
    margin: 5%;
}

<<<<<<< HEAD
.star-img img{
    padding: 10px;
    border-radius: 20px;
    background-color: hsl(214, 21%, 21%);
}


p {
    font-size: 15px;
    color: var(--light-grey);
}

.text-container h2 {
    color: white;
}

.ratings {
    margin-left: 10%;
}

.ratings * {
    height: 13px;
    width: 13px;
    padding: 13px;
    border-radius: 50%;
    background-color: hsl(214, 21%, 21%);
    color: var(--light-grey);
    display: inline-block;
    text-align: center;
    margin: 2.5%;

}


.submit-button {
    width: 80%;
    padding: 8px;
    margin-left: 10%;
    border-radius: 20px;
    background-color: orange;
    color: white;
=======
p {
    font-size: 15px;
}

.submit-button {
    width: 80%;
    padding: 8px;
    margin-left: 10%;
    border-radius: 20px;
}

.star-img img{
    padding: 10px;
    border-radius: 20px;
}

.ratings * {
    padding: 10px;
    border-radius: 20px;
>>>>>>> 690ff6e607e4b3446c1abacd5b11a958caddf92b
}