
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    margin-top: 0;
}
.background {
    width: 1440px;
    height: 900px;
    background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(255, 0, 0, 0.4), 
      rgba(255, 0, 0, 0.4)
    ),
    /* bottom, image */
    url('../images/bg-intro-desktop.png');
    position: fixed;
}

p {
    font-size: 16px;
}

.left-text-container {
    margin-left: 1.5%;
    margin-top: 25%;
}

.left-text-container h1,p{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.left-text-container h1 {
    font-weight: 700;
    font-size: 49px;
    line-height: 1.2;
    margin-bottom: 5%;
}

.left-text-container p {
    font-weight: 500;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    height: 64%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: 5%;
}

.top-container {
    text-align: center;
    background-color: hsl(248, 32%, 49%);
    padding: 1px;
    border-radius: 10px;
    box-shadow: 0px 7px 0px #0000002b;
    margin-bottom: 3%;
}


.form-container {
    height: 84%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 7px 0px #0000002b;
}

.form-container * {
    margin-left: 8%;
    margin-right: 7%;
    padding: 18px;
    width: 79%;
    border-radius: 7px;
    margin-bottom: 3%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.btn-submit {
    width: 86%;
    color: white;
    background-color: hsl(154, 59%, 51%);
    margin-bottom: 0%;
    font-weight: 500;
}

#first-name {
    margin-top: 9%;
}


#text-gray-part {
    color: hsl(246, 25%, 77%);
}

#terms-text {
    text-align: center;
    font-size: 79%;
    margin-top: 0%;
    color: hsl(246, 25%, 77%);
}

#terms-span {
    color: hsl(0, 100%, 74%);
    display: contents;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
