@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body {
    background-color: hsl(212, 45%, 89%);
}

.main-container {
    margin: auto;
    margin-top: 5%;
    width: 280px;
    height: 440px;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 3%;
}

.main-container *{
    margin: 6%;
}


.qr-img img{
    width: 100%;
    height: 255px;
    border-radius: 15px;
    margin-top: 6%;
    margin-bottom: 0%;
    display: inline;
}

h2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

p {
    font-size: 14px;
    color:hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.text-container {
    text-align: center;
}





























.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }