@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500&display=swap');

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(30, 38%, 92%);
}

.main-container {
    overflow: hidden ;
    border-radius: 25px;
    margin: auto;
    margin-top: 10%;
    width: 600px;
    margin-bottom: 2%;
    
   
}

p {
    font-size: 14px;
    
}

.description-gray {
    color: hsl(228, 12%, 48%);
}

.description-container {
    font-family: 'Montserrat', serif;
    font-weight: 500;
}

.right {
    float: left;
}

.right-container {
    
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 450px;
}

.font-first {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.left {
    float: left;

}

.inside {
    margin: 10%;

}

#old-price {
    text-decoration:line-through;
    display: inline-block;
}

#new-price {
    font-size: 28px;
    display: inline-block;
    color: hsl(158, 36%, 37%);
    margin-top: 4%;
}

#cart-button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    text-align: center;
    width: 94%;
    padding: 3px;
    border-radius: 8px;
    font-family: 'Montserrat', serif;
    font-weight: 700;
    
    
}

#cart-button p{
    font-size: 11.5px;
    display: inline-block;
    
    
}