
.nav-bar {
    margin-left: 8%;
    margin-right: 8%;
}

.nav-bar button {
    float: right;
    background-color: inherit;
    border: none;
}

.top-container {
    margin-left: 8%;
    margin-right: 8%;
    height: 698px;
}

.left-top {
    width: 50%;
    float: left;
}

.right-top{
    width: 50%;
    float: left;
}


.bottom-container {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    background-color: silver;
    padding: 2%;
}

.bottom-container h1 {
    margin-right: 56%;
    float: left;
    font-size: 212%;
    width: 26%;
}

.bottom-container button {
    padding: 10px;
    float: right;
    height: 40px;
    margin-top: 2%;
}

.bottom-container * {
    margin:2%;
}































.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
